asn1crypto
certifi
cffi
chardet
click
cryptography
defusedxml
httplib2
idna
jira
oauth2
oauthlib
pbr
pycparser
PyJWT
requests
requests-oauthlib
requests-toolbelt
six
tlslite-ng==0.8.0-alpha41
urllib3
